.heart{
    background: #0052D4;
    border: 2px solid #0052D4;
}

#heart{
    color: white;
}

.heart:hover{
    background: #0052D4;
}

main{
    position: absolute;
    top: 80px;
    border: 1px solid black;
}