.footmed{
    width: 100%;
    background: #0052D4;
    padding: 50px;
    display: flex;
    color: white;
}

.divfoot{
    width:24%;
}

.divuni a, .divicons a{
    color: white;
    font-size: 120%;
    transition: all 200ms;
}

.divuni a:hover, .divicons a:hover{
    font-weight: bolder;
    text-decoration:none;
}

#divflogo{
    width:25%;
}

#divnos{
    width:27%;
}

.hfoot{
    margin-bottom: 25px;
}

.flogo img{
    width: 18%;
    position: absolute;
    margin-top: -1.5%;
    margin-left: 0.5%;
}

.copyr{
    width: 100%;
    background: black;
    text-align: center;
    color: white;
    padding: 10px 0px;
    font-size:15px;
}

#saludfoot{
    width: 13%;
    margin-left: 5px;
}

.divuni a{
    text-decoration: none;
}

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px !important;
    bottom: 50px;
    right: 30px;
    background: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 200ms;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #25d366;
    background: #fff;
}

@media screen and (max-width: 415px){
    .footmed{
        padding: 25px;
        display: block;
    }
    .divfoot{
        width:100%;
        margin-top: 25px;
    }
    .divuni a, .divicons a{
        font-size: 100%;
    }
    #divflogo{
        width:100%;
        margin-top: 0px;
    }
    #divnos{
        width:100%;
    }
    .hfoot{
        font-size: 120%;
        margin-bottom: 15px;
    }
    .flogo img{
        position: static;
        width: 50%;
        margin: 0px 25%;
    }
    .copyr{
        font-size: 100%;
        padding: 10px 5%;
    }
    .btn-wsp{
        width: 45px;
        height: 45px;
        line-height: 45px !important;
        bottom: 35px;
        right: 15px;
        font-size: 25px;
    }
}
